.navbar {
    background-color: #1a1a22;
    height: 64px;
    padding: 0 16px;
    overflow: hidden;

}
.navbar-brand {
    padding: 0;
    display: flex;
    align-items: center;
    
}
.logo {
    height: 100px;
    width: auto;
    max-height: 100%;

}
